@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: "Loki";
  src: url("./fonts/Loki-Regular.otf");
}

* {
  margin: 0;
  text-align: center;
  font-family: "Loki";
}

html {
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/da/1e/0c/da1e0c3e41db28cefe8f12d9b1fac46a.jpg");
  background-position: center;
  background-size: cover;
}

img {
  border: 1px solid #252323;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  text-align: center;
  margin-right: 1px;
}

.Option {
  border: 1px solid black;
}

h1 {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 30px;
  color: #ffffff;
}

h2 {
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
}
.TopBar {
  width: 100%;
  height: 100px;
  background-image: url("https://media.gettyimages.com/videos/4k-abstract-minimalistic-background-loop-video-id875641664?s=640x640");
  background-size: cover;
  text-align: center;
}

.City {
  position: absolute;
  top: 70px;
  right: 20px;
}
.CityList {
  width: 180px;
  height: 30px;
  font-size: 15px;
  background-color: #383535;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #252323;
}
.CityList:hover {
  background-color: #252323;
}
.CityButton {
  width: 180px;
  height: 30px;
  font-size: 15px;
  background-color: #383535;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #252323;
}
.CityButton:hover {
  background-color: #252323;
  border-radius: 5px;
}
.PrimaryInfo {
  font-size: 20px;
  border: 3px solid #252323;
  border-radius: 5px;
  width: 20%;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}
.SecondaryInfo {
  font-size: 20px;
  border: 3px solid #252323;
  border-radius: 5px;
  width: 20%;
  color: #ffffff;
  margin-left: auto;
  margin-right: 25%;
  margin-top: 20px;
  opacity: 0.5;
}
.WeatherInfo {
  display: flex;
  width: 100%;
}
.Footer {
  background-image: url("https://thumbs.dreamstime.com/b/old-wall-texture-cement-dark-black-gray-background-abstract-grey-color-design-light-white-gradient-169006556.jpg");
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding-top: 10px;
  text-align: right;
}

.Copyrights {
  padding-right: 10px;
  font-size: 15px;
}
